.boxx{
    
}

.tt{
    margin-left: 10%;
    margin-top: -45%;
    font-size: 3rem;
    font-weight: 1000;
}

.cardd{
    padding: 1%;
    width: 20vw;
    height: 30vh;
    background-color: #7e22ce;
    border-radius: 5%;
    box-shadow: 4px 4px #ededed;
    margin-left: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
}

.cardd-container{
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem; 
    margin-left: 15%;
}

.bbtn{
    margin-left: 45%;
    margin-top: 1.5%;
    width: 15vw;
    height: 4vh;
    background-color: #7e22ce;
    box-shadow: 2px 2px #ededed;
    border: none;
    color: white;
    font-weight: 1000;
    border-radius: 5px;
    cursor: pointer;
}

.bbtn:hover{
    width: 16vw;
    height: 5vh;
}